<?php

return array(

    //default assetic configuration
    'assetic_configuration' => array(

        'default' => array(
            'assets' => array(
                '@application_css',
                '@application_js',
            ),
        ),

        'modules' => array(

            'application' => array(
                'root_path' => 'public/assets',

                'collections' => array(
                    'application_css' => array(
                        'assets' => array(
                            'delamatre-zend/css/delamatre-zend.css',
                        ),
                        'filters' => array(
                            '?CssRewriteFilter' => array(
                                'name' => 'Assetic\Filter\CssRewriteFilter'
                            ),
                            '?CssMinFilter' => array(
                                'name' => 'Assetic\Filter\CssMinFilter'
                            ),
                        ),
                    ),
                    'application_js' => array(
                        'assets' => array(
                            'delamatre-zend/js/delamatre-zend.js',
                        ),
                        'filters' => array(
                            '?JSMinFilter' => array(
                                'name' => 'Assetic\Filter\JSMinFilter'
                            ),
                        ),
                    ),
                ),
            ),
        ),

    ),

);